// Block: container-contacts

.container-contacts {
  margin-top: $spacer;
  padding-top: $spacer;
  min-height: $spacer * 15;
  background: gold;//$theme-color-main
  color: darken(gold, 50%);//$theme-color-main

  // Element: container-contacts-phone
  // Element: container-contacts-email

  &-phone,
  &-email {
    font-size: 1.8rem;
    padding: $spacer;
    border-radius: $border-radius;
    background-color: gold;//$theme-color-main
    transition: background-color 0.3s ease;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: goldenrod;//$theme-color-main-contrast

      a {
        color: darken(gold, 50%);//$theme-color-main
      }
    }
  }

  & a {
    color: darken(gold, 50%);//$theme-color-main
    text-decoration: none;
  }
}